.testimonials-breadcrumbs {
    margin-top: 20px;
    margin-left: 296px;
    font-weight: 300;
    font-size: 18px;
    color: #000;
}

.testimonials-caption {
    margin-top: 19px;
}

.testimonials-reviews-box {
    margin-top: 52px;
    margin-left: 362px;
    margin-right: 428px;
    flex-wrap: wrap;
    row-gap: 84px;
}

.testimonials-reviews-item {
    padding-top: 25px;
    padding-left: 60px;
    background: url("/public/images/leaf.png") no-repeat;
    font-size: 18px;

    .reviews-item-details {
        margin-bottom: 20px;
        color: #363636;
    }

    .reviews-item-desc {
        width: 427px;
        font-weight: 300;
        color: #000;
    }

    .last-desc {
        margin-top: 30px;
    }
}

.testimonials-more-btn {
    display: block;
    width: 140px;
    margin: 90px auto;
    margin-bottom: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: transparent;
    border: 1px solid #363636;
    border-radius: 2px;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    color: #000;
}

.testimonials-comment {
    margin-top: 79px;
    padding-top: 50px;
    padding-bottom: 49px;
    padding-left: 331px;
    background-color: rgba(167, 147, 133, 0.1);
}

.testimonials-comment-title {
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    color: #000;
}

.testimonials-comment-fm {
    margin-top: 40px;

    .input-bl {
        gap: 89px;
        margin-bottom: 27px;
    }

    input {
        display: block;
        width: 572px;
        padding-top: 22px;
        padding-bottom: 17px;
        padding-left: 25px;
        background: #FFFFFF;
        border: none;
        box-shadow: inset 2px 2px 8px rgba(0, 0, 0, 0.25);
        outline: none;
        font-size: 20px;
        color: #C4C4C4;

        &::placeholder {
            color: #C4C4C4;
        }
    }

    textarea {
        display: block;
        width: 1233px;
        height: 195px;
        padding-top: 18px;
        padding-left: 25px;
        background: #FFFFFF;
        border: none;
        outline: none;
        box-shadow: inset 2px 2px 8px rgba(0, 0, 0, 0.25);
        font-size: 20px;
        color: #C4C4C4;

        &::placeholder {
            color: #C4C4C4;
        }
    }

    .check-bl {
        margin-top: 27px;
        gap: 12px;

        input {
            width: 25px;
            height: 25px;
            padding: 0;
            appearance: none;
            background: #FFFFFF;
            border: none;
            box-shadow: inset 2px 2px 8px rgba(0, 0, 0, 0.25);

            &:checked {
                padding-top: 2px;
                background:  url("/public/images/check.png") no-repeat;
                background-size: contain;
            }
        }

        label {
            display: block;
            font-size: 20px;
            color: #363636;
        }
    }

    button {
        display: block;
        width: 140px;
        margin-top: 28px;
        padding-top: 12px;
        padding-bottom: 12px;
        background-color: transparent;
        border: 1px solid #363636;
        border-radius: 2px;
        cursor: pointer;
        font-weight: 500;
        font-size: 18px;
        color: #000;
    }
}